/* AgentSergyPage Styles */
.body {
    
}

.agentSergyPage {
    /* Все стили вложены в этот класс для изоляции */
    height: 100vh;
    background: #121212;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.agentSergyPage main {
    flex: 1;
}

/* Navbar */
.agentSergyPage .navbar {
    width: 100%;
    background: #121212;
    z-index: 1000;
    padding: 0;
    border-bottom: 0.75px solid #3E3E3E;
}

.agentSergyPage .navbarAccount {
    width: 45px;
    height: 45px;
    border-left: 0.75px solid #3E3E3E;
    color: #E0E0E0;
    text-decoration: none;
}

.agentSergyPage .accountIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 0.75px solid #3E3E3E;
    border-radius: 50%;
    text-align: center;
}

.agentSergyPage .prev {
    display: flex;
    align-items: center;
}

.agentSergyPage .prev img {
    height: 24px;
    margin-left: 15px;
}

/* Glow */
.agentSergyPage .glow {
    position: absolute;
    top: -70px;
    right: -50px;
    width: 150px;
    height: 150px;
    background: #A172F880;
    filter: blur(60px);
    z-index: 1001;
    pointer-events: none;
}

/* Content Blocks */
.agentSergyPage .contentBlock {
    width: 100%;
    padding: 20px;
    border-bottom: 0.75px solid #3E3E3E;
    position: relative;
    background-color: #121212;
}

.agentSergyPage .contentBlockLast {
    border-bottom: none;
}

.agentSergyPage .profileInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.agentSergyPage .profilePhoto {
    width: 90px;
    flex-shrink: 0;
}

.agentSergyPage .profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agentSergyPage .profileName {
    color: #A172F8;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.agentSergyPage .profileRole {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #E0E0E0;
    line-height: 1.2;
    margin-top: 2px;
}

.agentSergyPage .profileDescription {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    color: #A9A9A9;
    margin: 0 0 12px 20px;
}

/* Button Block */
.agentSergyPage .buttonBlock {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 30px;
    text-align: center;
    border-top: 0.75px solid #3E3E3E;
    border-bottom: 0.75px solid #3E3E3E;
    background-color: #121212;
    flex-shrink: 0;
    z-index: 40;
}

.agentSergyPage .buttonBlock button {
    background: #FFCC00;
    color: black;
    border: none;
    height: 44px;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
