/* AgentMarkPage Styles */
.body {
    
}

.agentMarkPage {
    height: 100vh;
    padding: 0;
    background: #121212;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.agentMarkPage main {
    flex: 1;
}

/* Navbar */
.agentMarkPage .navbar {
    width: 100%;
    background: #121212;
    z-index: 1000;
    padding: 0;
    border-bottom: 0.75px solid #3E3E3E;
}

.agentMarkPage .prev {
    display: flex;
    align-items: center;
}

.agentMarkPage .prev img {
    margin-left: 15px;
    height: 24px;
}

.agentMarkPage .navbarAccount {
    width: 45px;
    height: 45px;
    border-left: 0.75px solid #3E3E3E;
    text-decoration: none;
}

.agentMarkPage .accountIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 0.75px solid #3E3E3E;
    border-radius: 50%;
}

/* Glow */
.agentMarkPage .glow {
    position: absolute;
    top: -70px;
    right: -50px;
    width: 150px;
    height: 150px;
    background: #A172F880;
    filter: blur(60px);
    z-index: 1001;
    pointer-events: none;
}

/* Content blocks */
.agentMarkPage .contentBlock {
    width: 100%;
    padding: 20px;
    border-bottom: 0.75px solid #3E3E3E;
    position: relative;
    background-color: #121212;
}

.agentMarkPage .contentBlockLast {
    border-bottom: none;
}

.agentMarkPage .agentImg {
    width: 90px;
    flex-shrink: 0;
}

.agentMarkPage .agentLabel {
    color: #A172F8;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.agentMarkPage .agentTitle {
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #E0E0E0;
    line-height: 1.2;
    margin: 2px 0 0;
}

.agentMarkPage .descriptionText {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #A9A9A9;
    margin: 0 0 12px 20px;
}

/* Bottom button */
.agentMarkPage .buttonBlock {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 30px;
    text-align: center;
    border-top: 0.75px solid #3E3E3E;
    border-bottom: 0.75px solid #3E3E3E;
    background-color: #121212;
    flex-shrink: 0;
    z-index: 40;
}

.agentMarkPage .buttonBlock button {
    background: #FFCC00;
    color: black;
    border: none;
    height: 44px;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.agentMarkPage .agentContentWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.agentMarkPage .agentTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
